# Author: Abraham, Didum
# Wednesday, October 20, 2021
# Portal: gitignore.io
#
# Revature Training - *.gitignore Configuration
#

# ignore dot-gitignore extension file
.gitignore

# ignore .metadata extension file

# ignore all .classpath file
**/sts-training/**/*.classpath

# ignore all .project file
**/sts-training/**/*.project

# ignore all .settings
**/sts-training/**/*.settings

# ignore all bin-folders
**/sts-training/**/bin
